<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/static/icon.svg" sizes="any">
<link rel="apple-touch-icon" href="/static/icon.svg">

<!-- TODO: Move these into our own bundle or at least self host -->
<script src="//unpkg.com/alpinejs" defer></script>
<script src="//unpkg.com/htmx.org@1.9.6"></script>

{{minifiedStyles | safe}}